In [37]:
import pandas as pd
import numpy as np

In [38]:
def ordinal_enc(data, cols):
    enc_maps = {}  # Store encoding maps for multiple columns
    for col in cols:
        unique_vals = data[col].unique()  # Get unique values for each column
        enc_map = {val: i for i, val in enumerate(unique_vals)}  # Create encoding map
        data[col] = data[col].map(enc_map)  # Apply the encoding
        enc_maps[col] = enc_map  # Store the encoding map
    return data, enc_maps

In [39]:
def one_hot_enc(data, cols):
    for col in cols:
        unique_vals = data[col].unique()
        one_hot_matrix = np.zeros((data.shape[0], len(unique_vals)))
        for i, val in enumerate(unique_vals):
            one_hot_matrix[:, i] = (data[col] == val).astype(int)
    one_hot_df = pd.DataFrame(one_hot_matrix, columns=[f"{col}_{val}" for val in unique_vals])
    data = pd.concat([data.drop(col, axis=1), one_hot_df], axis=1)
    return data

In [40]:
data=pd.read_csv("melb_data.csv")

In [49]:
data.head()
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [42]:
from sklearn.model_selection import train_test_split
y = data.Price
X = data.drop(['Price'], axis=1)
cols_with_missing = [col for col in X_train_full.columns if X_train_full[col].isnull().any()] 
X_train_full.drop(cols_with_missing, axis=1, inplace=True)
X_valid_full.drop(cols_with_missing, axis=1, inplace=True)

In [43]:
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                                random_state=0)
cols_with_missing = [col for col in X_train_full.columns if X_train_full[col].isnull().any()] 
X_train_full.drop(cols_with_missing, axis=1, inplace=True)
X_valid_full.drop(cols_with_missing, axis=1, inplace=True)

# "Cardinality" means the number of unique values in a column
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
low_cardinality_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 and 
                        X_train_full[cname].dtype == "object"]

# Select numerical columns
numerical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

In [44]:
cols_with_missing = [col for col in X_train_full.columns if X_train_full[col].isnull().any()] 
X_train_full.drop(cols_with_missing, axis=1, inplace=True)
X_valid_full.drop(cols_with_missing, axis=1, inplace=True)

# "Cardinality" means the number of unique values in a column
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
low_cardinality_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 and 
                        X_train_full[cname].dtype == "object"]

# Select numerical columns
numerical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

In [45]:
X_train_full.head()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude,Regionname,Propertycount
12167,St Kilda,11/22 Charnwood Cr,1,u,S,hockingstuart,29/07/2017,5.0,3182.0,1.0,1.0,0.0,-37.85984,144.9867,Southern Metropolitan,13240.0
6524,Williamstown,18 James St,2,h,SA,Hunter,17/09/2016,8.0,3016.0,2.0,2.0,193.0,-37.85800,144.9005,Western Metropolitan,6380.0
8413,Sunshine,10 Dundalk St,3,h,S,Barry,8/04/2017,12.6,3020.0,3.0,1.0,555.0,-37.79880,144.8220,Western Metropolitan,3755.0
2919,Glenroy,1/2 Prospect St,3,u,SP,Brad,18/06/2016,13.0,3046.0,3.0,1.0,265.0,-37.70830,144.9158,Northern Metropolitan,8870.0
6043,Sunshine North,35 Furlong Rd,3,h,S,First,22/05/2016,13.3,3020.0,3.0,1.0,673.0,-37.76230,144.8272,Western Metropolitan,4217.0

In [46]:
s = (X_train_full.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date', 'Regionname']

In [47]:
ordinal_enc(X_train_full, object_cols)

(       Suburb  Address  Rooms  Type  Method  SellerG  Date  Distance  \
 12167       0        0      1     0       0        0     0       5.0
 6524        1        1      2     1       1        1     1       8.0
 8413        2        2      3     1       0        2     2      12.6
 2919        3        3      3     0       2        3     3      13.0
 6043        4        4      3     1       0        4     4      13.3
 ...       ...      ...    ...   ...     ...      ...   ...       ...
 13123     109    10738      3     1       2       63    54       5.2
 3264       76    10739      3     1       0       42    27      10.5
 9845       15    10740      4     1       4       11    24       6.7
 10799      23    10741      3     1       0       22    16      12.0
 2732       44     4487      4     1       2       13     9       6.4

        Postcode  Bedroom2  Bathroom  Landsize  Lattitude  Longtitude  \
 12167    3182.0       1.0       1.0       0.0  -37.85984   144.98670
 6524     3016.0       2.0       2.0     193.0  -37.85800   144.90050
 8413     3020.0       3.0       1.0     555.0  -37.79880   144.82200
 2919     3046.0       3.0       1.0     265.0  -37.70830   144.91580
 6043     3020.0       3.0       1.0     673.0  -37.76230   144.82720
 ...         ...       ...       ...       ...        ...         ...
 13123    3056.0       3.0       1.0     212.0  -37.77695   144.95785
 3264     3081.0       3.0       1.0     748.0  -37.74160   145.04810
 9845     3058.0       4.0       2.0     441.0  -37.73572   144.97256
 10799    3073.0       3.0       1.0     606.0  -37.72057   145.02615
 2732     3011.0       4.0       2.0     319.0  -37.79430   144.88750

        Regionname  Propertycount
 12167           0        13240.0
 6524            1         6380.0
 8413            1         3755.0
 2919            2         8870.0
 6043            1         4217.0
 ...           ...            ...
 13123           2        11918.0
 3264            5         2947.0
 9845            2        11204.0
 10799           2        21650.0
 2732            1         7570.0

 [10864 rows x 16 columns],
 {'Suburb': {'St Kilda': 0,
   'Williamstown': 1,
   'Sunshine': 2,
   'Glenroy': 3,
   'Sunshine North': 4,
   'Balwyn': 5,
   'Pascoe Vale': 6,
   'Sunshine West': 7,
   'Seddon': 8,
   'Altona': 9,
   'Bentleigh East': 10,
   'North Melbourne': 11,
   'Mill Park': 12,
   'Brunswick West': 13,
   'Hadfield': 14,
   'Coburg': 15,
   'Maribyrnong': 16,
   'Fitzroy North': 17,
   'Hawthorn East': 18,
   'Northcote': 19,
   'Caroline Springs': 20,
   'Kingsbury': 21,
   'Noble Park': 22,
   'Reservoir': 23,
   'Glen Iris': 24,
   'Essendon': 25,
   'Balwyn North': 26,
   'Niddrie': 27,
   'Fawkner': 28,
   'Alphington': 29,
   'Armadale': 30,
   'Windsor': 31,
   'Hawthorn': 32,
   'Epping': 33,
   'Moonee Ponds': 34,
   'Preston': 35,
   'Braybrook': 36,
   'Port Melbourne': 37,
   'Yarraville': 38,
   'Brighton East': 39,
   'Beaconsfield Upper': 40,
   'West Footscray': 41,
   'Richmond': 42,
   'Malvern': 43,
   'Footscray': 44,
   'Croydon': 45,
   'South Melbourne': 46,
   'Kensington': 47,
   'Glen Huntly': 48,
   'Caulfield South': 49,
   'Bulleen': 50,
   'South Yarra': 51,
   'Avondale Heights': 52,
   'Bundoora': 53,
   'Dingley Village': 54,
   'Thomastown': 55,
   'Mentone': 56,
   'Bayswater': 57,
   'Fairfield': 58,
   'Airport West': 59,
   'Chelsea': 60,
   'Thornbury': 61,
   'Essendon West': 62,
   'Kew East': 63,
   'Newport': 64,
   'Ormond': 65,
   'Ivanhoe': 66,
   'Albert Park': 67,
   'Blackburn North': 68,
   'Chadstone': 69,
   'Delahey': 70,
   'Malvern East': 71,
   'Melton South': 72,
   'Surrey Hills': 73,
   'Hampton': 74,
   'Doncaster': 75,
   'Heidelberg Heights': 76,
   'West Melbourne': 77,
   'Nunawading': 78,
   'Dallas': 79,
   'Kew': 80,
   'Melbourne': 81,
   'Brunswick East': 82,
   'Keilor East': 83,
   'Brighton': 84,
   'Elwood': 85,
   'Watsonia North': 86,
   'Caulfield North': 87,
   'Elsternwick': 88,
   'Murrumbeena': 89,
   'Carnegie': 90,
   'Templestowe Lower': 91,
   'Lalor': 92,
   'Jacana': 93,
   'Kingsville': 94,
   'Bellfield': 95,
   'Oakleigh East': 96,
   'Albanvale': 97,
   'Heathmont': 98,
   'East Melbourne': 99,
   'Parkville': 100,
   'Heidelberg': 101,
   'Carlton': 102,
   'Tarneit': 103,
   'Oakleigh South': 104,
   'Keilor Park': 105,
   'Aberfeldie': 106,
   'Werribee': 107,
   'Oakleigh': 108,
   'Brunswick': 109,
   'Prahran': 110,
   'Roxburgh Park': 111,
   'Albion': 112,
   'Mount Waverley': 113,
   'Maidstone': 114,
   'Highett': 115,
   'Meadow Heights': 116,
   'Forest Hill': 117,
   'Collingwood': 118,
   'Heidelberg West': 119,
   'Frankston': 120,
   'Burnley': 121,
   'Mont Albert': 122,
   'Broadmeadows': 123,
   'Melton West': 124,
   'Rosanna': 125,
   'Vermont': 126,
   'Ivanhoe East': 127,
   'Southbank': 128,
   'Camberwell': 129,
   'Yallambie': 130,
   'Ascot Vale': 131,
   'Briar Hill': 132,
   'Strathmore': 133,
   'Hallam': 134,
   'Ringwood East': 135,
   'Coburg North': 136,
   'Burwood': 137,
   'Oak Park': 138,
   'Toorak': 139,
   'Cheltenham': 140,
   'Gowanbrae': 141,
   'Fitzroy': 142,
   'Hoppers Crossing': 143,
   'Blackburn South': 144,
   'Travancore': 145,
   'Carlton North': 146,
   'Altona North': 147,
   'Middle Park': 148,
   'Bentleigh': 149,
   'Seaford': 150,
   'Clifton Hill': 151,
   'Sandringham': 152,
   'Glen Waverley': 153,
   'Edithvale': 154,
   'Moorabbin': 155,
   'Montmorency': 156,
   'Greenvale': 157,
   'Flemington': 158,
   'Sunbury': 159,
   'Abbotsford': 160,
   'Ferntree Gully': 161,
   'Balaclava': 162,
   'Wheelers Hill': 163,
   'Greensborough': 164,
   'Gisborne': 165,
   'Parkdale': 166,
   'Keysborough': 167,
   'Craigieburn': 168,
   'Springvale': 169,
   'Hughesdale': 170,
   'Rowville': 171,
   'Canterbury': 172,
   'Kurunjang': 173,
   'Frankston South': 174,
   'St Albans': 175,
   'Ringwood North': 176,
   'Truganina': 177,
   'Dandenong North': 178,
   'Doreen': 179,
   'Mitcham': 180,
   'Box Hill': 181,
   'Boronia': 182,
   'Berwick': 183,
   'Mulgrave': 184,
   'Brooklyn': 185,
   'Tullamarine': 186,
   'Croydon Hills': 187,
   'South Morang': 188,
   'Doncaster East': 189,
   'Ashburton': 190,
   'Viewbank': 191,
   'Cremorne': 192,
   'Watsonia': 193,
   'Spotswood': 194,
   'Aspendale Gardens': 195,
   'Doveton': 196,
   'Wantirna South': 197,
   'Blackburn': 198,
   'Gardenvale': 199,
   'Altona Meadows': 200,
   'Carrum': 201,
   'Essendon North': 202,
   'Melton': 203,
   'Donvale': 204,
   'Scoresby': 205,
   'Clayton South': 206,
   'Caulfield East': 207,
   'Eaglemont': 208,
   'Hillside': 209,
   'Westmeadows': 210,
   'Derrimut': 211,
   'Eltham': 212,
   'Deer Park': 213,
   'Cairnlea': 214,
   'Burwood East': 215,
   'Williamstown North': 216,
   'Black Rock': 217,
   'Seabrook': 218,
   'Clayton': 219,
   'Gladstone Park': 220,
   'Kealba': 221,
   'South Kingsville': 222,
   'Hampton East': 223,
   'Bacchus Marsh': 224,
   'Ripponlea': 225,
   'Mordialloc': 226,
   'Mooroolbark': 227,
   'Narre Warren': 228,
   'Deepdene': 229,
   'Bonbeach': 230,
   'Mernda': 231,
   'Ashwood': 232,
   'McKinnon': 233,
   'Templestowe': 234,
   'Whittlesea': 235,
   'Yarra Glen': 236,
   'Burnside': 237,
   'Pakenham': 238,
   'Dandenong': 239,
   'The Basin': 240,
   'Point Cook': 241,
   'Taylors Lakes': 242,
   'Ringwood': 243,
   'Bayswater North': 244,
   'Lower Plenty': 245,
   'Coolaroo': 246,
   'Keilor': 247,
   'Croydon North': 248,
   'Eltham North': 249,
   'Caulfield': 250,
   'Wantirna': 251,
   'Wyndham Vale': 252,
   'Beaumaris': 253,
   'Warrandyte': 254,
   'Ardeer': 255,
   'Aspendale': 256,
   'Diamond Creek': 257,
   'Plumpton': 258,
   'Carrum Downs': 259,
   'Endeavour Hills': 260,
   'Mount Evelyn': 261,
   'Keilor Downs': 262,
   'Kings Park': 263,
   'Knoxfield': 264,
   'Montrose': 265,
   'Strathmore Heights': 266,
   'Notting Hill': 267,
   'Chirnside Park': 268,
   'Wollert': 269,
   'Clarinda': 270,
   'Springvale South': 271,
   'Sandhurst': 272,
   'Burnside Heights': 273,
   'Silvan': 274,
   'Docklands': 275,
   'Croydon South': 276,
   'Cranbourne': 277,
   'Frankston North': 278,
   'Brookfield': 279,
   'Keilor Lodge': 280,
   'Taylors Hill': 281,
   'Cranbourne North': 282,
   'Beaconsfield': 283,
   'Hampton Park': 284,
   'Vermont South': 285,
   'Seaholme': 286,
   'St Helena': 287,
   'North Warrandyte': 288,
   'Skye': 289,
   'Officer': 290,
   'Langwarrin': 291,
   'Chelsea Heights': 292,
   'Hurstbridge': 293,
   'Campbellfield': 294,
   'Huntingdale': 295,
   'Williams Landing': 296,
   'New Gisborne': 297,
   'Princes Hill': 298,
   'Riddells Creek': 299,
   'Sydenham': 300,
   'Waterways': 301,
   'Wallan': 302,
   'Kilsyth': 303,
   'Kooyong': 304,
   'Diggers Rest': 305,
   'Bullengarook': 306,
   'Emerald': 307},
  'Address': {'11/22 Charnwood Cr': 0,
   '18 James St': 1,
   '10 Dundalk St': 2,
   '1/2 Prospect St': 3,
   '35 Furlong Rd': 4,
   '7 Power St': 5,
   '48 Derby St': 6,
   '11 Ridgeway Pde': 7,
   '3 South St': 8,
   '13 Linnet St': 9,
   '4/54 Yarra St': 10,
   '18 Patricia St': 11,
   '2/43 Haines St': 12,
   '17 Winter Ct': 13,
   '12/881 Park St': 14,
   '42 West St': 15,
   '37 Elizabeth St': 16,
   '273 Glengala Rd': 17,
   '31 Forge Cl': 18,
   '79 Delbridge St': 19,
   '75 Victor Rd': 20,
   '13 Alister St': 21,
   '16/36 Anderson Rd': 22,
   '174 Beaconsfield Pde': 23,
   '2 Cranwell Sq': 24,
   '26 Stymie St': 25,
   '6 Helen Ct': 26,
   '4/1067 High St': 27,
   '1 Montana St': 28,
   '2/7 Graves St': 29,
   '66 Ursa St': 30,
   '28 Coghlan St': 31,
   '27 Vervale Av': 32,
   '136A Fulham Rd': 33,
   '44 Hampden Rd': 34,
   '1/164 Leamington St': 35,
   '1/35 George St': 36,
   '7b Nathan Pl': 37,
   '8/32 Liddiard St': 38,
   '31 Development Bvd': 39,
   '1 Saddlers Ct': 40,
   '112 Dean St': 41,
   '52 May St': 42,
   '9/39 Heller St': 43,
   '15 Hardwick St': 44,
   '13/25 Marnoo St': 45,
   '107 Stokes St': 46,
   '1a Kingston St': 47,
   '6/82 Raleigh Rd': 48,
   '6/40 Wattle Rd': 49,
   '4a Mary St': 50,
   '6/141 Centre Rd': 51,
   '6 Paul Gr': 52,
   '8 Tambet St': 53,
   '10 Neil St': 54,
   '201/65 Stawell St': 55,
   '57 Edsall St': 56,
   '9/6 Rosamond Rd': 57,
   '27 MacPherson St': 58,
   '30 Allendale Rd': 59,
   '13 Martin St': 60,
   '17/29 Bendall St': 61,
   '7/15 Manchester Gr': 62,
   '10/468 Kooyong Rd': 63,
   '19 Barak St': 64,
   '1/35 William St': 65,
   '2a Alexandra St': 66,
   '97 Military Rd': 67,
   '27 Norfolk Cr': 68,
   '13 Dorrington Ct': 69,
   '22 Park Sq': 70,
   '14 Marjory St': 71,
   '44 Morley St': 72,
   '108 Oak Av': 73,
   '15 Clifford St': 74,
   '25 Palmer St': 75,
   '147 Gillies St': 76,
   '36 Roberts Rd': 77,
   '33 Baxter Av': 78,
   '327 Gillies St': 79,
   '36 Ruby St': 80,
   '174 Kilby Rd': 81,
   '68 Queens Pde': 82,
   '258 Nicholson St': 83,
   '88 Maddox Rd': 84,
   '1/2 Little Kent St': 85,
   '19 Verdon St': 86,
   '28 Newry St': 87,
   '1/75 Lillimur Rd': 88,
   '105 Ivanhoe Pde': 89,
   '91 Page St': 90,
   '15 Merle St': 91,
   '12/412 High St': 92,
   '4 Garnet St': 93,
   '35 College St': 94,
   '2/13 Batesford Rd': 95,
   '7 Robe St': 96,
   '33 Bradshaw St': 97,
   '12 Selola Ct': 98,
   '3 Donald St': 99,
   '210 Gower St': 100,
   '46 Stanley St': 101,
   '7 Alexander Cl': 102,
   '641 Waverley Rd': 103,
   '51 Kellett St': 104,
   '49 Garfield St': 105,
   '24 Blaxland Rd': 106,
   '61 Broughton Rd': 107,
   '3/11 Lincoln Pl': 108,
   '15 Littlewood St': 109,
   '46 Yongala St': 110,
   '41 Pettys La': 111,
   '21 Eden St': 112,
   '1/5 Daventry St': 113,
   '6 Conrad Ct': 114,
   '1/110 Railway Pl': 115,
   '393 North Rd': 116,
   '9 Patterson St': 117,
   '8 Echuca St': 118,
   '31 Argyle Rd': 119,
   '103/565 Flinders St': 120,
   '22 Lord St': 121,
   '23 Chappell Pl': 122,
   '403/64 Wellington St': 123,
   '4/14 Brickwood St': 124,
   '250 McBryde St': 125,
   '262 Union Rd': 126,
   '3/58 Byron St': 127,
   '2/32 Sellars St': 128,
   '2C Kerferd St': 129,
   '14 Falconer St': 130,
   '12 Tambet St': 131,
   '23 MacKay St': 132,
   '14/378 Dandenong Rd': 133,
   '18 Molesworth Ct': 134,
   '9 Rowan St': 135,
   '4 Buxton St': 136,
   '107/250 Barkly St': 137,
   '5/18 William St': 138,
   '12 Geake St': 139,
   '1 Donal St': 140,
   '56 Brandon St': 141,
   '4/77 Pender St': 142,
   '22A Mernda Av': 143,
   '1/76 Carlisle St': 144,
   '50 Caroline Dr': 145,
   '146 Rossmoyne St': 146,
   '8 Jerrold St': 147,
   '13/14 Newry St': 148,
   '16 Tooronga Rd': 149,
   '28 Duncan Rd': 150,
   '50 Emu Pde': 151,
   '15 Thaxted Rd': 152,
   '26 Innellan Rd': 153,
   '117 Barkly St': 154,
   '17 Janet St': 155,
   '29 Gipps St': 156,
   '1 McCarron Pde': 157,
   '1/4 Southey Ct': 158,
   '62A Williamstown Rd': 159,
   '353 Waterdale Rd': 160,
   '3 Beckwith St': 161,
   '30a Rooding St': 162,
   '33 Greta St': 163,
   '51a President Rd': 164,
   '21 Balfour Av': 165,
   '3/2 Garden Rd': 166,
   '115 Abbotsford St': 167,
   '226 Dalton Rd': 168,
   '1/187 George St': 169,
   '8 Station Pl': 170,
   '105/459 Royal Pde': 171,
   '3/89 Rosanna Rd': 172,
   '309/20 Reeves St': 173,
   '7/55 Johnston St': 174,
   '65 Graham St': 175,
   '28 Claire Wy': 176,
   '15 Druitt St': 177,
   '7 Clyde St': 178,
   '44 Erebus St': 179,
   '9 Stanger St': 180,
   '204/4 Hotham Rd': 181,
   '47 Clifton St': 182,
   '51 Garfield St': 183,
   '51 Garnet St': 184,
   '3 Gillies St': 185,
   '8 Centenary Cr': 186,
   '12 Watsonia St': 187,
   '22 Station Rd': 188,
   '14/270 Canterbury Rd': 189,
   '243 Essex St': 190,
   '36 Hatter St': 191,
   '113 Wilson St': 192,
   '63 Park Dr': 193,
   '270 Albion St': 194,
   '504/7 King St': 195,
   '24 Centaurus Av': 196,
   '63 Chapel St': 197,
   '15 Orford St': 198,
   '2B Bradford Ct': 199,
   '60 Sydney St': 200,
   '10 Rhonda St': 201,
   '38 Wenden Rd': 202,
   '5 Carey Ct': 203,
   '75 Orange St': 204,
   '79 Lincoln Rd': 205,
   '16 Linda St': 206,
   '9 Bawden Ct': 207,
   '3 Buller Tce': 208,
   '3 Walter St': 209,
   '38 Suffolk St': 210,
   '48 Turner Rd': 211,
   '65 Bastings St': 212,
   '50 Hyde St': 213,
   '35 Warley Rd': 214,
   '49 Lisson Gr': 215,
   '13 Manna Ct': 216,
   '1/28 Clarence St': 217,
   '4 Sapphire St': 218,
   '82 Price St': 219,
   '6/78 Oxford St': 220,
   '16 Thomson St': 221,
   '2/287 Liberty Pde': 222,
   '74 Barkly St': 223,
   '12 Pindari Dr': 224,
   '24 Victoria Pde': 225,
   '2/50 Gibdon St': 226,
   '55 View St': 227,
   '18 Katunga Cr': 228,
   '29 Oak St': 229,
   '16A Manning Rd': 230,
   '6 John St': 231,
   '185 The Avenue': 232,
   '3/18 Gillies St': 233,
   '30 Borrowdale Rd': 234,
   '7/4 Banyule Rd': 235,
   '2/660 Canterbury Rd': 236,
   '2/3 Rotherwood Rd': 237,
   '3/38 Charles St': 238,
   '4/55 Kavanagh St': 239,
   '5/69 Hamilton St': 240,
   '3/575 Burke Rd': 241,
   '106 Parer Rd': 242,
   '6/56 Sutherland Rd': 243,
   '4 Coleen St': 244,
   '136 The Parade': 245,
   '46 Chapel St': 246,
   '1/4 Box Rd': 247,
   '3 Port St': 248,
   '33 Rosedale Rd': 249,
   '1/32 Yerrin St': 250,
   '200 West St': 251,
   '1 Harley Ct': 252,
   '6 Judd St': 253,
   '18 Centre Rd': 254,
   '3 Cross St': 255,
   '18 Mervin St': 256,
   '26 Paywit St': 257,
   '57 Cratloe Rd': 258,
   '3/136 Hoffmans Rd': 259,
   '17 Murray Rd': 260,
   '310/330 Lygon St': 261,
   '5/8 David St': 262,
   '12 Ellesmere St': 263,
   '24 Butler St': 264,
   '13 Woolart St': 265,
   '5 Bridge St': 266,
   '52 Adelaide St': 267,
   '44 Clive St': 268,
   '3/49 Osborne St': 269,
   '9/28 Ross St': 270,
   '5 Katrina Cl': 271,
   '42 College St': 272,
   '38 Belmore Rd': 273,
   '1C Kardinia Rd': 274,
   '688 North Rd': 275,
   '60 Adeney St': 276,
   '7 Bessell Ct': 277,
   '3/1 Mines Rd': 278,
   '26 Westmoreland Rd': 279,
   '57 Bay St': 280,
   '13 Nutwood St': 281,
   '88 Gladstone St': 282,
   '2/4 Manly Ct': 283,
   '4/4 Ormond Rd': 284,
   '11/12 Mawbey St': 285,
   '1 Bolinda Rd': 286,
   '65 Clydesdale Rd': 287,
   '273 Glenlyon Rd': 288,
   '14/59 Riversdale Rd': 289,
   '45 Holloway St': 290,
   '46 Sesame St': 291,
   '40 New St': 292,
   '92 Speight St': 293,
   '103 McMahon Rd': 294,
   '7/2 Cromwell Rd': 295,
   '502/49 Plenty Rd': 296,
   '3/35 Creswick St': 297,
   '7/59 Rathmines St': 298,
   '50 Dorrit St': 299,
   '4/60 Henty St': 300,
   '96 Roden St': 301,
   '2/15 Ogden St': 302,
   '109/14 Elizabeth St': 303,
   '23 Cromwell St': 304,
   '11 Arden Ct': 305,
   '7 Elliott St': 306,
   '4/299 Koornang Rd': 307,
   '4/4 Ethel St': 308,
   '6/305 Albion St': 309,
   '2/619 Toorak Rd': 310,
   '28A North St': 311,
   '163 Through Rd': 312,
   '4 Brownfield St': 313,
   '13/25 Barkly St': 314,
   '4/74 Rutherglen Cr': 315,
   '29 Bell St': 316,
   '14 Herbert St': 317,
   '2/37 Aylmer St': 318,
   '63 Kent St': 319,
   '74 Bridport St': 320,
   '106 Miranda Rd': 321,
   '30 Downs St': 322,
   '3/77 River St': 323,
   '53 Mossfiel Dr': 324,
   '4/199 Punt Rd': 325,
   '102 Manning Rd': 326,
   '27 Burnewang St': 327,
   '37 Epsom Rd': 328,
   '24 Sylvia St': 329,
   '53 Mangalore St': 330,
   '28 Tucker St': 331,
   '1/132 Pascoe Vale Rd': 332,
   '44 Graham Rd': 333,
   '36 Windsor St': 334,
   '32 Hooker Rd': 335,
   '281 Albion St': 336,
   '4/23 Fletcher St': 337,
   '15 Tyrone St': 338,
   '21 Junction St': 339,
   '103 Sussex St': 340,
   '9 Hibiscus Cl': 341,
   '246 Victoria St': 342,
   '16 Milford St': 343,
   '673 Canning St': 344,
   '4 Knapp St': 345,
   '84 Hambleton St': 346,
   '40 Coates St': 347,
   '7/87 Gamon St': 348,
   '2 Fairbank Pl': 349,
   '17 Orange Gr': 350,
   '6/229 Brighton Rd': 351,
   '19 Murumba Dr': 352,
   '227 Murray Rd': 353,
   '6 Robinson St': 354,
   '2 Poplar Gr': 355,
   '36 Emerald St': 356,
   '42 Mitchell St': 357,
   '5 Barnett St': 358,
   '113/300 Young St': 359,
   '23 Wisteria Dr': 360,
   '39 Moore St': 361,
   '9 Bendigo St': 362,
   '117 Roseneath St': 363,
   '79 Victoria St': 364,
   '13 Naroo St': 365,
   '10/8 Anzac St': 366,
   '31 Chapman Bvd': 367,
   '17 Tudor Ct': 368,
   '5 Florida Ct': 369,
   '672 Plenty Rd': 370,
   '4 Caroline Dr': 371,
   '31 Raleigh St': 372,
   '15 Lynden Gr': 373,
   '45a Nolan St': 374,
   '18 Kingston St': 375,
   '207 Rattray Rd': 376,
   '17 Bolton Ct': 377,
   '3/41 Pridham St': 378,
   '6 Addison St': 379,
   '1 Fraser St': 380,
   '12/132 Princes St': 381,
   '28 Farmer St': 382,
   '7/4 Small St': 383,
   '22 Faraday St': 384,
   '91 Arthurton Rd': 385,
   '18/76 Mathoura Rd': 386,
   '7 Cavalry Cct': 387,
   '26 Briarwood Ct': 388,
   '10 Valiant St': 389,
   '15 Pascoe St': 390,
   '4/4 Austin St': 391,
   '4/247 Inkerman St': 392,
   '49 Phoenix Dr': 393,
   '9 Bishop Pl': 394,
   '107 Golf Rd': 395,
   '53 Wests Rd': 396,
   '68A Emo Rd': 397,
   '29 Benjamin St': 398,
   '17 New St': 399,
   '31 Frederick St': 400,
   '55 Parer St': 401,
   '77 Union St': 402,
   '3/5 Evans St': 403,
   '35 Addison St': 404,
   '3/53 Kangaroo Rd': 405,
   '83 Buckingham St': 406,
   '8B Myrtle St': 407,
   '32 Powlett St': 408,
   '25 Benjamin St': 409,
   '1/21 Holmes Rd': 410,
   '17/46 Eucalyptus Dr': 411,
   '1/241 Lower Plenty Rd': 412,
   '92 Swanston St': 413,
   '24 Livingstone St': 414,
   '4 Raymond St': 415,
   '3/10 Ormond Rd': 416,
   '23 Albert St': 417,
   '9 Summerhill Rd': 418,
   '5 Blairgowrie Ct': 419,
   '58 Wolverhampton St': 420,
   '2/12 William St': 421,
   '42 Kilmore Rd': 422,
   '75 MacPherson St': 423,
   '282 Glenlyon Rd': 424,
   '22 Keith St': 425,
   '2 Eildon Dr': 426,
   '27 Kensley Cct': 427,
   '2/25 Brooks St': 428,
   '8 Barilla Rd': 429,
   '9/3 Gordon St': 430,
   '1/139 Roberts St': 431,
   '40 New Rd': 432,
   '31 Bell St': 433,
   '22 Warrick Ct': 434,
   '19 Valdoone Ct': 435,
   '67 Glendale Rd': 436,
   '6 Moffatt Cr': 437,
   '3 Charles St': 438,
   '36 Rutland St': 439,
   '3/234 Cotham Rd': 440,
   '2 Trentham St': 441,
   '198 Poath Rd': 442,

In [48]:
one_hot_enc(X_train_full, np.array(object_cols))

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,...,Longtitude,Propertycount,Regionname_0,Regionname_1,Regionname_2,Regionname_3,Regionname_4,Regionname_5,Regionname_6,Regionname_7
12167,0.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0,3182.0,1.0,...,144.9867,13240.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6524,1.0,1.0,2.0,1.0,1.0,1.0,1.0,8.0,3016.0,2.0,...,144.9005,6380.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8413,2.0,2.0,3.0,1.0,0.0,2.0,2.0,12.6,3020.0,3.0,...,144.8220,3755.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2919,3.0,3.0,3.0,0.0,2.0,3.0,3.0,13.0,3046.0,3.0,...,144.9158,8870.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6043,4.0,4.0,3.0,1.0,0.0,4.0,4.0,13.3,3020.0,3.0,...,144.8272,4217.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0